* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d9d9d9;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

h1 {
  margin-bottom: 40px;
  font-family: fantasy;
  color: #3c6e71;
  font-size: 40px;
}

span {
  display: inline-block;
  margin-right: 10px;
}

button,
input {
  padding: 5px;
  font-weight: bold;
}

p {
  margin: 30px;
}

#carta-contador {
  font-size: 30px;
  font-weight: bold;
  color: #3c6e71;
}

.newspaper {
  background-color: antiquewhite;
  font-family: 'Times New Roman';
  font-weight: bold;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url(images/pink-pattern.png);
  color: fuchsia;
  font-family: Verdana;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}
